i {
  line-height: 2rem;
}

a:hover {
  text-decoration: none;
}

.nav-link {
  text-transform: uppercase;
}

.navbar-nav .router-link-exact-active {
  border-bottom: 2px solid var(--bs-success);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bg-dark {
  backdrop-filter: blur(3px);
}

.bar {
  border-left: 1px dashed #ffbb77;
  opacity: .32;
}

/* SECTION BG IMG CONTROLS CSS */
.hide {
  cursor: default;
  transition: ease-in-out .25s;
  opacity: 0;
  visibility: hidden;
  width: 15rem;
}

.showInfo:hover+.hide {
  opacity: 1;
  visibility: visible;
}

.BGImgControls {
  bottom: -6rem;
  left: 0;
}

/* SECTION MEDIA TRANSFORMS */

@media screen and (min-width: 992px) {
  nav {
    height: 76px;
  }
}

@media screen and (max-width:1100px) {
  .BGImgControls {
    left: -11.8em;
  }
}

@media screen and (max-width:768px) {
  .BGImgControls {
    left: 5rem;
    bottom: 0rem;
  }
}