#quote {
  width: fit-content;
}

.quoteContent {
  cursor: help;
  font-size: large;
  // width: fit-content;
}

.quoteInfo {
  font-size: small;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out .25s;
}

.quoteContent:hover+.quoteInfo {
  opacity: 1;
  visibility: visible;
}

.refreshQuote {
  color: orange;
  top: -.8rem;
  left: -.5rem;
  box-shadow: 0 0 1rem black inset;
  border-radius: 1rem;
}

.refreshQuote:hover{
  color: yellowgreen;
}

.blueBlur {
  background-color: #123456b9;
  color: whitesmoke;
  border-radius: .25rem;
  /* width: fit-content; */
  backdrop-filter: blur(3px);
}