.refresh,
hr {
  color: orange;
  text-shadow: 0 0 5px black;
}

.bar {
  border-left: 1px dashed grey;
}

.temp {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid orange;
  color: orange;
  cursor: help;
}

.weather {
  font-family: 'Courier New', Courier, monospace;
  background-color: #123456f0;
  // backdrop-filter: blur(5px);
  color: whitesmoke;
  border: 1px solid white;
  width: fit-content;
  height: fit-content;
}

.weatherDetails p {
  margin-bottom: 0;
}

.refresh {
  bottom: -.8rem;
  right: -.8rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: .25s;
  top: 3.6rem;
}

.temp:hover+.hidden {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width:992px) {
  .hidden {
    top: 0;
    left: 5.5rem;
  }
}

@media screen and (max-width:768px) {
  .hidden {
    top: -8.5rem;
    left: 6.9rem;
  }
}