hr,
i,
.headerIcon,
.mdiPlusBox,
.orange {
  color: orange;
  text-shadow: 0 0 5px black;
}

.headerIcon {
  line-height: 1rem;
}

.mdiPlusBox {
  line-height: 3.2rem;
}

.mdiPlusBox:hover {
  color: yellowgreen;
}

.bar {
  border-left: 1px dashed grey;
}

.card {
  background-color: #123456b0;
  color: whitesmoke;
  width: fit-content;
  backdrop-filter: blur(2px);
}

.blur {
  background-color: #12345678;
  backdrop-filter: blur(5px);
}

.hiddenToggleNote {
  opacity: 0;
  visibility: hidden;
  transition: .25s;
  left: -.5rem;
  top: 1.85rem;
}

.showToggleNote:hover+.hiddenToggleNote {
  opacity: .95;
  visibility: visible;
}

.todoForm {
  top: 76px;
}