input[type="text"] {
  width: 100%;
}

input[type="checkbox"] {
  width: 1.2rem;
}

.invisible {
  visibility: hidden;
}

.mdiPencil,
.mdiTrashCan {
  text-shadow: 0 0 8px black;
  opacity: .8;
  transition: .25s;
}

.mdiCancel,
.mdiContentSave{
  text-shadow: 0 0 8px black;
  transition: .25s;
}

.mdiCancel:hover,
.mdiPencil:hover,
.mdiTrashCan:hover,
.mdiContentSave:hover {
  transform: scale(1.2);
}

.mdiCancel {
  margin-left: -.15rem;
}

.listItem {
  border-radius: .25rem;
}

.offlineOutline {
  border: 1px dashed red;
  opacity: .5;
}

.hidden {
  opacity: 0;
  transition: .25s;
}

.hidden:hover {
  opacity: 1;
}

.shown:hover+.hidden {
  opacity: 1;
}